.site-footer {
  background-color: transparent;
  position: fixed;
  bottom: 5vh;
  .site-info {
    display: flex;
    flex-direction: column;
    .svg-inline--fa {
      font-size: 4rem;
      margin: 0 0 1rem 1rem;
      padding: .5rem;
    }
  }
  .site-info a {
    width: 5rem;
  }
}