/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border-radius: 3rem;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6rem 1rem .4rem;
	transition: $transition__main;

	&:hover{
	background-color: $color__brand-main;
	border: none;
	}

	&:active,
	&:focus {

	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__border-abbr;
	border: $color__border-thin;
	border-radius: 3px;
	background-color: $color__form-background;

	&:focus {
		color: $color__link;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

form {
  // width: 500px;
  margin: 0 auto;
  p {
    color:$color__background-body;
  }
}
