header.entry-header{
  display: flex;
  justify-content: center;
  // z-index: -1;
  position: absolute;
}

.menu ul {
  flex-direction: row;
  display: flex;
}

.hero {
  background: linear-gradient(180deg,rgba(0,0,0,.6) 0,rgba(0,0,0,.6)),
  url(../../images/squam-chief.jpg); 
  background-size: cover; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 5;
  width: 100vw;
  height: 100vh;
}


