// header.entry-header{
//   display: flex;
//   justify-content: center;
//   position: absolute;
// }

.menu ul {
  flex-direction: row;
  display: flex;
}

.home, .hero {
  @include center-all;
  background: $color__background-gradient,
  url(../../images/squam-chief.jpg); 
  background-size: cover; 
  flex-direction: column;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  color: $color__background-body;
}

h2 {
  margin-bottom: 10rem;
  @include tablet {
    margin-bottom: 0;
  }
}




