/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__background-body;

	&:visited {
		color: $color__background-body;
	}
	&:hover,
	&:focus,
	&:active {
		// background-color: blue;


	}

	&:focus {
		// outline: thin dotted;
	}
	&:hover,
	&:active {
		// outline: 5;
	}
}

/* Menus */

.menu {
	display: none;
}

// .mobile-menu {
// 	background-color: $color__black-solid;
// 	// a {
// 	// 	text-decoration: none;
// 	// }
// 	li {
// 		list-style: none;
// 		}
// 	@include tablet {
// 		visibility: hidden;
// 	}
// }

.main-navigation {
	ul {
	visibility: hidden;
		@include tablet {
			visibility: visible;
		}
	}
	position: relative;
	display: flex;
	flex-direction: column;
	li {
		list-style: none;
		}
	@include tablet {
		flex-direction: row;
		visibility: visible;
		justify-content: center;
	}
	.toggle-menu-button {
		visibility: visible;
		position: absolute;
		right: 3rem;
		z-index: 2;
		font-size: 1.5rem;
		@include tablet {
			visibility: hidden;
		}
	}
}
#toggle-menu-button:focus {
	outline: none;
}

.main-navigation, .drop-menu, li {

	// transform: translate(-50%, -50%);      
	// transition: all .4s ease-in-out;
	// transition-duration: 1s,.5s,.3s,.3s,.3s,.3s,.3s;
}
// .main-navigation {

// 	background-color:green;
// }
.main-navigation .toggle-nav {
	visibility: visible;
	display: flex;
	flex-direction: column;
	background-color: #000;
	width: 100vw;
	align-items: center;
	position: absolute;
	top: 0;
	font-size: 2rem;
	padding-top: 4rem;
	transition: all 0.3s ease-in-out; 

	@include tablet {
		flex-direction: row;
		font-size: 1rem;
		position: relative;
		align-content: center;
		justify-content: space-around;



		// align-items: center;
	}
	ul {
		display: flex;

	}
	li {
		transition: all 0.3s ease-in-out; 
	}
}

#primary-menu .main-navigation ul {
	display: block;
}

.main-navigation .primary-menu .page-item-2 .menu-link-about .active-page {
		border-bottom: 3px solid green;
		color: blue;
}


.logo {
	display: flex;
	align-items: center;
	position: fixed;  
	top: 0;
	left: 2rem;
	text-transform: uppercase;
  // background-size: 100px 100px;
  height: 80px;
  width: 100px;
	z-index: 7;
}
.menu ul li a {
	
}
ul {

}

.main-navigation {
	position: fixed;
	display: flex;
	top: 0;
	width: 100%;
	height: 5rem;
	background-color: $color__black-solid;
	align-items: center;
	justify-content: space-around;
	z-index: 6;
	
	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding-left: 0;
		

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: $base__space-unit;
			left: -999rem;

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	
	a {
		display: block;
		// text-decoration: none;
		padding-right: 2rem;
		padding-left: 2rem;
	}
	.page-item-34 {
		display: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

// @media screen and (min-width: 768px) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		width: 50%;
	}

	.nav-next {
		text-align: right;
		width: 50%;
	}
}
