/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__background-body;

	&:visited {
		color: $color__background-body;
	}
	&:hover,
	&:focus,
	&:active {
		// background-color: blue;


	}

	&:focus {
		// outline: thin dotted;
	}
	&:hover,
	&:active {
		// outline: 5;
	}
}

/* Menus */

.mobile-menu {
	background-color: $color__black-trans;
	li {
		list-style: none;
		}
	@include tablet {
		visibility: hidden;
	}
}

.primary-menu {
	visibility: hidden;
	@include tablet {
	visibility: visible;
	}
}

.logo {
	position: fixed;  
	top: 0;
  background-size: 100px 100px;
  height: 80px;
  width: 100px;
	z-index: 3;
}
.menu ul li a {
	
}
ul {

}

.main-navigation, .mobile-menu {
	position: fixed;
	display: flex;
	top: 0;
	width: 100%;
	height: 5rem;
	background-color: $color__black-trans;
	align-items: center;
	justify-content: space-around;
	z-index: 2;
	
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: $base__space-unit;
			left: -999rem;

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	
	a {
		display: block;
		// text-decoration: none;
		padding-right: 2rem;
		padding-left: 2rem;
	}
	.page-item-34 {
		display: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		width: 50%;
	}

	.nav-next {
		text-align: right;
		width: 50%;
	}
}
