/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.home{
  background-color: grey;
}

.widget-area {
  display: inline;
  text-align: right;
  justify-content: right;
}