/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.home {
  background-color: grey;
}

.widget-area {
  display: inline;
  text-align: right;
  justify-content: right;
}

//project page
.site-content {
background:   
url(../../images/background.png);
}

.project-content  {
  margin: 0 auto;
  width: 50vw;
} 

.entry-header {
  @include center-all;
  flex-direction: column;
}

  .project-header {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: white;
  }

  .project-title {
    margin-top: 5rem;
  }

  .project-image {
    height: 30rem;
    width: 50rem;
    border: $color__border-main;
    border-radius: 4rem;
    -webkit-transition: $transition__main;
    transition: $transition__main;
    display: inline-block;
    max-width: 100%;
}

.project-buton {
  display: flex;
  justify-content: center;
  background-color: $color__brand-main;
  text-decoration: none;
  margin: 0 auto;
  width: 8rem;
  padding: 1rem;
  border-radius: 5rem;
  -webkit-box-shadow: 7px 0px 25px 3px rgba(0,0,0,0.9);
  -moz-box-shadow: 7px 0px 25px 3px rgba(0,0,0,0.9);
  box-shadow: 7px 0px 25px 3px rgba(0,0,0,0.9);
}


//About page
.page-template-about {
  .entry-titl {
    display: none;
  }
}

// Contact page
.page-template-contact {
  .entry-title {
    display: none;
  }
  .coffee {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

  .coffee-date {
    display: flex;
    justify-content: center;  
    padding-top: 5rem;
    color: white;
  }
}
form {
  width: 500px;
  margin: 0 auto;
  p {
    color:white;
  }
  input, textarea {
    background-color: grey;
  }
}

// about

.entry-content p {
  @include center-all;
}