/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

.entry-header .project-header {
  width: 100vw;
  margin: 0 auto;
  @include center-all;
}

/* Front page */

.home {
  background-color: grey;
}

.widget-area {
  display: inline;
  text-align: right;
  justify-content: right;
}

//project page
.page-template-projects .site-content {
background:   
url(../../images/background.png);
  p, h2 {
    color: white;
  }
}

.project-content  {
  margin: 0 auto;
  padding-bottom: 5rem;
  // width: 50vw;
} 

.entry-header {
  @include center-all;
  flex-direction: column;
}

.project-header {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.project-image {
  height: 50vh;
  width: 90vw;
  border: none;
  border-radius: 4rem;
  -webkit-transition: $transition__main;
  // transition: $transition__main;
  display: inline-block;
  max-width: 100%;
  position: relative;
  img {
    box-shadow: $color__text-shadow;
  }
  @include tablet {
    height: 60vh;
    width: 70vw;
  }
}

.mobile-project-info {
  text-align: center;
  padding-top: 4rem;
  @include tablet {
    visibility: hidden;
  }
}

.tablet-project-info {
  visibility: hidden;
  margin-top: 4rem;
  text-align: center;
  @include tablet {
    visibility: visible;
  }
}

.project-description {
  visibility: hidden;
  padding: 4rem;
  text-align: center;
}

 .project-image:hover {
  .project-description {
    position: absolute;
    border-radius: 4rem;
    @include center-all;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: $color__black-trans;
    visibility: visible;
    bottom: 0px;
    z-index: 2;
    @include tablet {
      transition: all .2s ease-in-out;
      // transition-property: background-color, display;
    }
  }
}

.project-button {
  display: flex;
  justify-content: center;
  background-color: $color__brand-main;
  text-decoration: none;
  margin: 5rem auto 0;
  width: 8rem;
  padding: 1rem;
  border-radius: 5rem;
  -webkit-box-shadow: $color__text-shadow-thick;
  -moz-box-shadow: $color__text-shadow-thick;
  box-shadow: $color__text-shadow-thick;
  @include tablet {
    margin-top: 1rem;

  }
}
.project-content .project-button:hover {
  background-color: $color__brand-dark;
}


//About page
.page-template-about .hero {
  background: $color__background-gradient,
  url(../../images/home.jpg) no-repeat; 
  background-size: cover; 
}

.about-paragraph {
  padding: 1rem 4rem;
  width: 85vw;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.6);
}

.about-paragraph-container {
  margin-top: 5rem;
  margin-bottom: 6rem;
  @include tablet {
    position: fixed;
    top: 20%;
  }
}

.page-template-about {
  img, .hero {
    object-fit: contain;
    height: auto;
    @include tablet {
      height: 100vh;
    }
  }
  .entry-title {
    display: none;
  }
}

// Contact page
.page-template-contact {
  margin-bottom: 6rem;
  img {
  object-fit: cover;
  }
  .entry-title {
    display: none;
  }
  .coffee {
    position: fixed;
    // width: 100vw;
    height: 150vh;
    z-index: -1;
  }
  .coffee-date {
    display: flex;
    justify-content: center;  
    padding-top: 5rem;
    color: $color__background-body;
  }
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  background-color: $color__alert;
  @include tablet {
    width: 40vw;
    margin: 0 auto;
    @include desktop {
      width: 25vw;
    }
  }
}

// about

.entry-content p {
  @include center-all;
}