// Structure

$base__space-unit: 1.5rem;

// Colors

$color__brand-main: #007515;
$color__brand-dark: #005310;
$color__alert: #f7e700;


$color__text-main: #404040;
$color__text-second: rgba(216, 152, 15, 0.712);

$color__background-body: #fff;
$color__form-background: whitesmoke;
$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;
$color__background-gradient: linear-gradient(90deg,rgba(0, 0, 0, 0.9) 0,rgba(71, 71, 71, 0.7));

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;
$color__black-solid:rgba(0, 0, 0, 1);
$color__black-trans:rgba(0,0,0,0.6);


$color__link: #000000;
$color__link-hover: midnightblue;

$color__border-thin: 1px solid $color__border-abbr;
$color__border-main: 2px solid $color__brand-main;
$color__text-shadow: 0px 0px 15px 6px black;
$color__text-shadow-thick: 7px 0px 25px 3px rgba(0,0,0,0.9);

// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

//transitions
$transition__main: all 0.2s ease-in-out;

// Screen sizes
$tablet-width: 600px;
$desktop-width: 1000px;


//keyframes
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}