// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;
$color__text-second: rgba(216, 152, 15, 0.712);

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;
$color__background-gradient: linear-gradient(-90deg,rgba(0, 0, 0, 0.9) 0,rgba(71, 71, 71, 0.7));

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: #000000;
$color__link-hover: midnightblue;

// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// Screen sizes
$tablet-width: 600px;
$desktop-width: 1000px;
